* {
    margin: 0;
    padding: 0;
}

/* 變數 */
:root {
    --primary:#645cff;
    --primary-dark:#3c3799;
    --grey:#64748b;
    --grey-light:#f1f5f9;
    --grey-dark:#0f172a; 
    --border-radius: 0.15rem;

}

/* 設定body內容 */
body {
    /* font family 選擇字型 */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 10px;
    color: var(--primary-dark);
    background-color: var(--grey-light);
}

.img {
    width: 100%;
    height: 15rem;
    display: block; 
    object-fit: cover;
}
/* display:block 會設定這個元素為區塊 */

.blogs {
    padding: 3rem 0 1.5rem;

}

.section-title h2{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}


.blogs-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.blog {
    background-color: white;
    padding: 0.75rem;
    margin-bottom: 2rem;
    box-shadow: 5px 10px 10px rgba(0,0,0, 0) ;
    border-radius: var(--border-radius);
}

.blogs-center {
    margin-top: 0.5rem;
    grid-template-columns: 1fr; 
    gap: 2rem;
}


.blogs-center span {
    text-transform: uppercase;
    color: var(--primary);
    letter-spacing: 1.5px;
    margin-top: 3px;
}

.blogs-center h3 {
    text-transform: capitalize;
    margin: 0.5rem 0;
    letter-spacing: 1px;
    font-size: 1rem;
}

.blogs-center p {
    color: var(--grey);
    margin-bottom: 0.5rem;
}

.blogs-center a {
    color: var(--primary-dark);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

/* 在一個解析度下 */


@media screen and (min-width: 400px){
    .blogs-center{
        grid-template-columns: repeat(1,1fr);
    }

}

@media screen and (min-width: 800px){
    .blogs-center{
        grid-template-columns: repeat(2,1fr);
    }

}

@media screen and (min-width: 1200px){
    .blogs-center{
        grid-template-columns: repeat(3,1fr);
    }

}

@media screen and (min-width: 1600px){
    .blogs-center{
        grid-template-columns: repeat(4,1fr);
    }

}

@media screen and (min-width: 2000px){
    .blogs-center{
        grid-template-columns: repeat(5,1fr);
    }

}

@media screen and (min-width: 2600px){
    .blogs-center{
        grid-template-columns: repeat(6,1fr);
    }

}
@media screen and (min-width: 3000px){
    .blogs-center{
        grid-template-columns: repeat(7,1fr);
    }

}
@media screen and (min-width: 3400px){
    .blogs-center{
        grid-template-columns: repeat(8,1fr);
    }

}
@media screen and (min-width: 3800px){
    .blogs-center{
        grid-template-columns: repeat(9,1fr);
    }

}