@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400;1,500&family=Rubik+Doodle+Shadow&display=swap");
/* 深色主題樣式 */
body {
  background: var(--grey);
  overflow: hidden;
}
body-dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

:root {
  --color-content-1: red;
  --color-content-2: orange;
  --color-content-3: yellow;
  --color-content-4: rgb(11, 59, 11);
  --color-content-5: blue;
  --color-content-6: purple;
  --color-content-7: pink;
  --color-content-8: brown;
  --color-btn-1: rgb(185, 126, 126);
  --color-btn-2: rgb(188, 149, 97);
  --color-btn-3: rgb(188, 188, 97);
  --color-btn-4: rgba(97, 188, 97, 0.2);
  --color-btn-5: rgb(97, 188, 188);
  --color-btn-6: rgb(97, 97, 188);
  --color-btn-7: rgb(188, 97, 188);
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbd7d0;
}

html {
  overflow: hidden;
}

.main {
  height: 100%;
  width: 340px;
  padding-top: 40px;
  left: 0;
  top: 0;
  background-color: var(--color-btn-4);
  /* 位置固定 */
  border-right: 0.5px solid var(--color-btn-4);
  position: fixed;
  overflow: auto;
  text-align: center;
  transition: all 0.3s ease;
}
.main li {
  list-style: none;
}
.main .main::-webkit-scrollbar {
  display: none;
}
.main .icon img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 25px;
}
.main .main h4 {
  font-size: 20px;
  color: cadetblue;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.main .navbar {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  letter-spacing: 2px;
  color: cadetblue;
  gap: 30px;
  list-style: none;
  font-size: 15px;
}
.main .navbar a {
  color: cadetblue;
}
.main .social-icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-left: 0;
}
.main .solo {
  display: flex;
  padding-top: 30px;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}
.main .classdemo a:hover {
  color: var(--color-content-4);
  cursor: pointer;
}
.main .about a:hover {
  color: var(--color-content-4);
  cursor: pointer;
}
.main .traning a:hover {
  color: var(--color-content-4);
  cursor: pointer;
}
.main .demo {
  display: none;
  flex-direction: column;
  background-color: var(--color-btn-4);
  list-style: none;
}
.main .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--color-btn-4);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}
.main .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 21px;
  background-color: var(--color-btn-3);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.main .showalldemo {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  width: calc(100% - 340px);
  height: 100%;
  left: 350px;
  top: 0;
  overflow: auto;
  position: fixed;
}
.content .container {
  display: flex;
  position: relative;
  width: 300x;
  height: 300px;
  transition: all 0.3s ease;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.content .container i {
  display: none;
}
.content .container h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}
.content .container h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px gray;
}
.content .container h1 p {
  font-size: 15px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px gray;
}
.content .container img {
  display: block;
  border-radius: 52%;
}

#theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - 21px - 2px);
}

/*# sourceMappingURL=main.css.map */
